
*.hmap

*.dat

*.LinkFileList

*.d

*.dia

*.plist

*.xcscheme

*.xcbkptlist

*.xcuserstate

*.xcworkspacedata

*.o

*.pbxproj

build/cProject.build/Debug/cProject.build/dgph

build/cProject.build/Release/cProject.build/dgph

build/**

*.feats
